params {
    data = "./data/"
    results = "./results/"

    query_dir = "query"
    query_mode = "consensus"
    
    reference_dir = "reference"
    reference_mode = null

    n = 30

    get_polymorphic_sites = true
    get_haplotype_data = true
    make_pd_matrix = true
}

docker {
    enabled = true
}

process.errorStrategy = 'ignore'